.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #23408e;
  border-color: #007bff;
}

.header {
  font-weight: 100;
  font-family: revert;
  font-size: large;
}

.footer-label {
  text-align: center;
  opacity: 50%;
}